<h1 class="product-title" itemprop="name"><%= accurate_title %></h1>

<div itemprop="description" data-hook="description">
  <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
</div>

<div data-hook="product_properties">
  <%= render :partial => 'properties' %>
</div>