<div id="social-media-links" data-hook="bottom-right">
  <h3>Share With Friends</h3>
  <nav class="clearfix">
    <ul>
      <li><i class="fa fa-pinterest-square fa-5x"></i>Pin It</li>
      <li><i class="fa fa-tumblr-square fa-5x"></i>Tumble It</li>
      <li><i class="fa fa-facebook-square fa-5x"></i>Like It</li>
      <li><i class="fa fa-twitter-square fa-5x"></i>Tweet It</li>
    </ul>
  </nav>
</div>
<br />

