/*--------------------------------------*/
/* Colors
/*--------------------------------------*/

$black:               #000000;
$dark_green:          #125e1d;
$deep_red:            #CC0000;
$light_blue:          #cbeafc;
$light_grey: #eeeeee;
$light_red:           #ff7892;
$medium_blue:         #0153a5;
$medium_blue_rgb_r:   1;
$medium_blue_rgb_g:   83;
$medium_blue_rgb_b:   165;
$white:               #ffffff;