@import 'spree/frontend/annarbortees_variables';

/*--------------------------------------*/
/* Basic styles
/*--------------------------------------*/


/*--------------------------------------*/
/* Links
/*--------------------------------------*/

/*--------------------------------------*/
/* Lists
/*--------------------------------------*/

/*--------------------------------------*/
/* Headers
/*--------------------------------------*/

#header {
  background-color: $light_blue;
}

/*--------------------------------------*/
/* Forms
/*--------------------------------------*/

/*--------------------------------------*/
/* Footer
/*--------------------------------------*/

/*--------------------------------------*/
/* Paragraphs
/*--------------------------------------*/

/*--------------------------------------*/
/* Tables
/*--------------------------------------*/


/*--------------------------------------*/
/* Navigation
/*--------------------------------------*/

#breadcrumbs {
  background-color: $medium_blue;
}

/*--------------------------------------*/
/* Flash notices & errors
/*--------------------------------------*/


/*--------------------------------------*/
/* Main search bar
/*--------------------------------------*/

/*--------------------------------------*/
/* Products
/*--------------------------------------*/

/*--------------------------------------*/
/* Products
/* swipe.js
/*--------------------------------------*/

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

/*--------------------------------------*/
/* Checkout
/*--------------------------------------*/


/*--------------------------------------*/
/* Cart
/*--------------------------------------*/


/*--------------------------------------*/
/* Account
/*--------------------------------------*/


/*--------------------------------------*/
/* Order
/*--------------------------------------*/
