<%= form_tag spree.products_path, :method => :get do %>
    <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search) %>
    <label><button type="submit" class="fa fa-search"><i></i></button></label>
<% end %>